{% extends 'base.html' %}

{% block main %}
    List
    <br>
    <!-- o objeto object_list ja esta injetado neste momento-->
    {% for funcionario in object_list %}
        <a href="{% url 'update_funcionario' funcionario.id %}">{{ funcionario }}</a>

        <a href="{% url 'delete_funcionario' funcionario.id %}">Deletar</a><br>
    {% endfor %}

<!--create_hora_extra-->
    <a href="{% url 'create_funcionario' %}" class="btn btn-info">Novo</a>
    <a href="{% url 'relatorio_funcionarios' %}" class="btn btn-warning">
        {{ report_button }}
    </a>

    <!-- relatorio em pdf a partir de html-->
    <a href="{% url 'relatorio_funcionarios_html' %}" class="btn btn-warning">
        Relatorio de Funcionarios HTML
    </a>
{% endblock %}