{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    <form method="POST">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <br>
    <h2>Documentos</h2>
    <ul>
        <!-- for para apresentar os documentos do usuario -->
        {% for documento in object.documento_set.all %}
           <li>
                <a href="{{ documento.arquivo.url }}">{{ documento.descricao }}</a> <br>
           </li>
        {% endfor %}
    </ul>

    {% if object %}
        <a href="{% url 'create_documento' object.id %}" class="btn btn-success">
            Adicionar documento
        </a>
    {% endif %}

    <br>

    <!--banco de horas-->
    <h2>Banco de Horas</h2>
    <ul>
        <!-- for para apresentar os documentos do usuario -->
        {% for registro_hora in object.registrohoraextra_set.all %}
            <li>
                <a href="{% url 'update_hora_extra' registro_hora.id %}">
                    {{ registro_hora.motivo }} | {{ registro_hora.horas }} <br>
                </a>
                <br>
            </li>
        {% endfor %}
    </ul>

    <h3>Total de Horas Extras: {{ object.total_horas_extra }}</h3>
{% endblock %}